@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

:root {
  --mainPink: #ef7998;
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --mainBlack: #000;
  --yellowTrans: rgba(249, 228, 148, 0.5);
  --mainGrey: rgb(238, 238, 238);
}

body {
  margin: 0;
  padding: 0;
  line-height: 0;
}

*{
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  transition: .2s linear;
  text-transform: capitalize;
  
}

:root{
  --green:#00E77F;
  --white:#fff;
  --light-white:#aaa;
  --black:#3d3d3d;
  --light-bg:#4b4b4b
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

::-webkit-scrollbar{
  height: .5rem;
  width: 1rem;
}

::-webkit-scrollbar-thumb{
  background-color: var(--green);
  border-radius: 5rem;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

.containerwhole{
  background:rgba(43, 41, 41, 0.795) url("https://source.unsplash.com/random/300×300/?hostel") ;
  height: 120vh;
    background-size: cover;
    background-blend-mode: darken;
}

i{
  cursor: pointer;
}




/* navbar */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 5rem;
  background-color: rgba(17, 17, 23, 0.5);
}

.rightbar{
  position: absolute;
  right: 2vw;
}

.rightbar i{
  padding: 0 .7rem;
  color: rgb(194, 160, 160);
}

.navbar .navbar-brand img{
  height: 5rem;
}

/* login page section */

/* overflow account */
.account{
  border: 0px solid black;
    width: 0;
    height: 0vh;
    position: absolute;
    right: 0px;
    top: 14vh;
    transition: height 0.3s ease-in-out;
    overflow: hidden;
}

.account.active{
  height: 40vh;
  width: 15vw;
  border: 2px solid black;
  transform: rotate3d();
}

.account .dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.account .dashboard .caption{
  background-color: rgb(164, 164, 231);
  width: 14.7vw;
  text-align: center;
  margin-bottom: 1rem;
}

.account .dashboard .list li{
  line-height: 2;
}
.account .dashboard .list li a{
  color: black;

}

/* overflow notification */

.notification{
    width: 0vw;
    height: 0vh;
    position: absolute;
    right: 6vw;
    top: 14vh;
    transition: height 0.3s ease-in-out;
    overflow: hidden;
    cursor: pointer;

}

.notification .view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notification .view .caption{
  background-color: rgb(164, 164, 231);
  width: 14.7vw;
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.notification .view .list p{
  text-transform: lowercase;
  color: black;
}

.notification .view .viewall {
  border: 2px solid black;
  position: absolute;
  top: 34vh;
  width: 15vw;
  text-align: center;
}

.notification .view .viewall a{
  color: black;
}



.notification.active{
  height: 40vh;
  width: 15vw;
  border: 2px solid black;
  transform: rotate3d();
}




.head{
  text-align: center;
}

.course{
  position: relative;
  
}

.courses .card_slider .slide img{
  width: 14rem;
  border-radius: 2rem
}

.heading{
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: 4rem;
  color: var(--white);

}

.heading span{
  color: var(--green);
}

.courses .slide{
  width: 18rem;
  height: 24rem;
  background-color: rgb(47 14 14 / 50%);
  border-radius: .5rem;
  text-align: center;
  margin-bottom: 4rem;
  padding: 1rem;
  position: relative;
}

.courses .slide h3{
  margin: 1.5rem 0;
  font-size: 2rem;
  color: var(--white);
}

.courses .slide p{
  line-height: 1;
  font-size: 1.6rem;
  color: var(--light-white);
}

.courses .swiper-slide{
  display: flex;
    justify-content: center;
}

.courses .slide .button:hover{
  background-color: brown;
  
}
 
.courses .slide .button{
  color: white;
  margin-bottom: .2rem;
  
}
.courses .slide .icon a{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  right: 1rem;
  top: 20rem;
}
.courses .slide .icon i{
  margin: auto;
  color: white;
}




/* student login */
.container{
  background-color: #00E77F;
  height: 73vh;
  max-width: 35vw;
  margin: auto;
  border-radius: 8px;
}

.container .box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form{
  display: flex;
  flex-direction: column;
}

.form input{
  width: 30vw;
  margin-bottom: 1rem;
  padding: .5rem;
  border-radius: .3rem;
}

.form select{
  width: 30vw;
  margin-bottom: 1rem;
  padding: .5rem;
  border-radius: .3rem;
  color: #d89f9f;
}

.click{
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  max-width: 50rem;
  margin: auto;
  margin-top: 1rem;
}


.click button{
  border: 2px solid black;
  padding: .5rem;
  border-radius: .3rem;
}

.click button:hover{
  background-color: brown;
}


.click button a{
  font-weight: 600;
  color: #000 ;
}
.click .sign_in a{
  font-size: .7rem;
}



/* Student features */

.container_stuFeatures{
  padding: .5rem;
}


.features{
  /* border: 2px solid red; */
  max-width: 20vw;
}

.feat{
  margin-bottom: 1rem;
}

.feature{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  padding: 1rem;
  background-color: rgb(104, 104, 210);
  color: black;
  border-radius: 1rem;
}





.feature a{
  color: black;
}

.feat .feature_content {
  margin-left: 1vw;
  display: none;
  
}

/* js */
.feature_content.active{
  display: inline;
  transform: height 0.2 ease-in-out;
}
.feat .feature_content form input{
  border: 2px solid black;
  padding: .3rem;
  margin-bottom: .3rem;
}

.feat .feature_content form textarea{
  border: 2px solid black;
}

.feat .feature_content form select{
  border: 2px solid black;
  padding: .3rem;
  color: #b08e8e;
}




/* faculty features */

.feature{
  margin-bottom: 1rem;
}

.btn{
  border: 2px solid black;
  padding: .6rem;
  margin-bottom: .4rem;
  border-radius: 1rem;
}

.btn.active{
  border: none;
}

.courseOpt{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.btn .course{
  display: flex;
  justify-content: space-between;
}

.btn .studentList {
  display: none;
}

.btn .studentList span{
  max-width: 25vw;
  font-size: small;
}

.btn .studentList td{
  font-size: 10px;
}
.studentList.active{
  display: inline;
}




/* warden features */

.request .btn{
  display: flex;
  justify-content: space-between;
}
.button:hover{
  background-color: var(--light-bg);
}




.feature_content .request{
  margin-bottom: 1rem;
  display: none;
  padding-left: .5rem;
}

.feature_content .request.active{
  display: inline;
}

.feature_content .request .approval{
  display: none;
}

.feature_content .request .approval.active{
  display: inline;
}

.feature_content .request .status{
  display: none;
}

.feature_content .request .status.active{
  display: inline;
}

.feature_content .request .assign{
  display: none;
}

.feature_content .request .assign.active{
  display: inline;
}




/* js */





.request .assign input{
  padding: .3rem;
  border: 2px solid black;
  border-radius: .5rem;
  /* border-bottom: .1rem; */
}

.approval.active{
  display: inline;
}

.assign.active{
  display: inline;
}









