@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

:root {
  --mainPink: #ef7998;
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --mainBlack: #000;
  --yellowTrans: rgba(249, 228, 148, 0.5);
  --mainGrey: rgb(238, 238, 238);
}

body {
  /* font-family: "Kaushan Script", cursive; */
  color: var(--mainBlack);
  margin: 0;
  padding: 0;
  

}
.containerwhole{
  background-image: url("https://source.unsplash.com/random/300×300/?university") ;
height: 100vh;
}



/* navbar */
.navbar{
  width: 100vw;
  height: 5rem;
  background-color: rgba(23, 23, 28, 0.5);
}

.navbar .navbar-brand img{
  /* width: 10rem; */
  height: 6rem;
  /* background-color: white; */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

/* login page section */

.head{
  text-align: center;
}








*{
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: .2s linear;
  text-transform: capitalize;
  
}

:root{
  --green:#00E77F;
  --white:#fff;
  --light-white:#aaa;
  --black:#3d3d3d;
  --light-bg:#4b4b4b
}
/* *::selection{
  background-color: var(--white);
  color: var(--black);
} */

html{
  /* font-size: 62.5%; */
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* scroll-padding-top: 7rem; */
}

::-webkit-scrollbar{
  height: .5rem;
  width: 1rem;
}

::-webkit-scrollbar-thumb{
  background-color: var(--green);
  border-radius: 5rem;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}





/* login page */

.courses .card_slider .slide img{
  width: 16rem;
  border-radius: 2rem
}

.heading{
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: 4rem;
  color: var(--white);

}

.heading span{
  color: var(--green);
}

.courses .slide{
  width: 18rem;
  background-color: var(--light-bg);
  border-radius: .5rem;
  text-align: center;
  margin-bottom: 4rem;
  padding: 1rem;
}

.courses .slide h3{
  margin: 1.5rem 0;
  font-size: 2rem;
  color: var(--white);
}

.courses .slide p{
  line-height: 1;
  font-size: 1.6rem;
  color: var(--light-white);
}

.courses .swiper-slide{
  display: flex;
    justify-content: center;
}



.container{
  background-color: #00E77F;
  height: 73vh;
  max-width: 35vw;
  margin: auto;
  border-radius: 8px;
}

.container .box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form{
  display: flex;
  flex-direction: column;
}

.form input{
  width: 30vw;
  margin-bottom: 1rem;
  padding: .5rem;
  border-radius: .3rem;
}

.form select{
  width: 30vw;
  margin-bottom: 1rem;
  padding: .5rem;
  border-radius: .3rem;
  color: #d89f9f;
}

.click{
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  max-width: 50rem;
  margin: auto;
  margin-top: 1rem;
}


.click button{
  border: 2px solid black;
  padding: .5rem;
  border-radius: .3rem;
}

.click button:hover{
  background-color: brown;
}


.click button a{
  font-weight: 600;
  color: #000 ;
}
.click .sign_in a{
  font-size: .7rem;
}



/* Student features */

.container_stuFeatures{
  padding: .5rem;
}


.features{
  /* border: 2px solid red; */
  max-width: 20vw;
}

.feat{
  margin-bottom: 1rem;
}

.feature{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  padding: .4rem;
  background-color: rgb(104, 104, 210);
  color: black;
  border-radius: 1rem;
}

.feature_content.active{
  transition: all 0.1 ease-in-out;
  display: inline;
}



.feature a{
  color: black;
}

.feature_content{
  display: none;
  /* border: 2px solid red; */
  margin-top: .1rem;
  max-width: 15vw;
}


/* faculty features */

.courseOpt{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.btn{
  border: 2px solid black;
  padding: .6rem;
  margin-bottom: .4rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
}


/* warden features */







@media (min-width:400px) and (max-width:800px){
  #menu-btn{
      display: inline-block;
  }

  .header .flex .navbar{
      position: absolute;
      top: 99%;left: 0;right: 0;
      border-top: 2px solid var(--light-white);
      border-bottom: 2px solid var(--light-white);
      background-color: var(--light-bg);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

  }
  .header .flex .navbar a{
      display: block;
      margin: 1.5rem;
  }

  .home .row .image{
      display: flex;
      align-items: center;
      justify-content: center;

  }
  .home .row .image img{
      width: 80%;
      
  }
  .home .row .content h3{
      font-size: 4rem;
  }

  .btn{
      font-size: 1rem;
  }
  .about .row .image {
      text-align: center;
  }



 
}

@media (max-width:399px) {
#menu-btn{
  display: inline-block;
}

.header .flex .navbar{
  position: absolute;
  top: 99%;left: 0;right: 0;
  border-top: 2px solid var(--light-white);
  border-bottom: 2px solid var(--light-white);
  background-color: var(--light-bg);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

}
.header .flex .navbar a{
  display: block;
  margin: 1.5rem;
}

.home .row .image{
  display: flex;
  align-items: center;
  justify-content: center;

}
.home .row .image img{
  width: 100%;
  
}
.home .row .content h3{
  font-size: 4rem;
}

.btn{
  font-size: 1rem;
}
.count .box-container{
grid-template-columns: repeat(auto-fit,minmax(18rem ,1fr));
}
.about .row .image .img{
  width: 27rem;
}



  
}