.button{
    padding: .5rem;
    background: none;
    border: 2px solid var(--mainPink);
    border-radius: .5rem;
    cursor: pointer;

}

.black{
    color: black;
}

.display{
    display: inline !important;
}